*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.row_po{
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}
.hyper{
    color: #fff;
}
.row_pos{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_po:hover {
    transform: scale(1.2) ;
}
.row_pos::-webkit-scrollbar {
    display: none;
}
.row_pol {
    max-height: 300px;
}
.row{
    color: white;
    margin-left: 20px;
}
.banner{
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 440px;
}
.banner_contains{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;

}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}
.banner_button{
    font-size: medium;
    cursor: pointer;
    color: #fff;
    outline:none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(249, 240, 240, 0.007);
}

button:hover {
    background-color: rgb(71, 72, 73);
    transition: all 0.2s;
    color: rgb(187, 200, 200);

}
.banner--fade{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(47, 45, 45, 0.963), #111111);
}
.nav_logo{
     width: 190px;
     object-fit: contain;
}
.nav_avatar{
    width: 35px;
    object-fit: contain;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;

}
.nav_black{
    background-color: #111;
}