*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #151414;
}
.banner{
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 440px;
}

.banner_contains{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;

}
.banner_title{
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    padding-top: 150px;
    padding-left: 20px;
}
.banner_button{
    cursor: pointer;
    color: #fff;
    outline:none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    padding-bottom: 0.5rem;
    background-color: rgba(192, 183, 183, 0.001);
}

.options{
    padding-left: 400px;
    padding-top: 10px;
}
.options1{
    font-size: smaller;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 610px;
}
.options2{
    padding-top: 10px;
    padding-left: 690px;
    color: #fff;
    border: none;
}
.options4{
    padding-top: 20px;
    padding-left: 500px;
    color: #fff;
    border: none;
}
.options5{
    padding-top: 10px;
    padding-left: 730px;
    color: #fff;
    border: none;
}
.options3{
    padding-left: 20px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
}
.banner_button2{
    box-align: center;
    object-fit: contain;
    cursor: pointer;
    color: #fff;
    outline:none;
    border: none;
    font-weight: 900;
    font-size: large;
    border-radius: 0.5vw;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 10px;
    padding-bottom: 0.5rem;
    background-color: rgba(192, 183, 183, 0.001);
}
button:hover {
    color: #9e9090;
    background-color: #4b4b4418;
    transition: all 0.2s;

}
button2:hover {
    color: #9e9090;
    background-color: #4b4b4418;
    transition: all 0.2s;

}
.banner--fade{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(16, 37, 16, 0.667), #111111);
}
.nav_logo{
    width: 190px;
    object-fit: contain;
}
.nav_avatar{
   width: 30px;
   object-fit: contain;
}
.nav{
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   z-index: 1;
   transition-timing-function: ease-in;
   transition: all 0.5s;

}
.nav_black{
   background-color: #1b1a1a;
}
.poster{
    float: left;
    padding-right: 20px;
    padding-left: 10px;
}
.text{
    padding-left: 250px;
 padding-top: 15px;
    color: #fff;
}
.row_pos::-webkit-scrollbar {
    display: none;
}
.row_pos{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_pol {
    max-height: 300px;
}
.row_po:hover {
    transform: scale(1.2) ;
    transition: transform 450ms;
}
.comment_box,
.post_comment .list{
    background: #9e9090;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;

}
.comment_section{
    width: 1000px;
    height: auto;
    padding-left: 300px;
    margin-left: 60px;
    padding-top: 20px;

}
.post_comment .list {
    width: 100%;
    margin-bottom: 12px;


}
.post_comment .list .user{
    display: flex;
    padding: 8px;
    overflow: hidden;

}
.post_comment .list .user img{
    height: 38px;
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment_section .name{
    text-transform: uppercase;
    font-weight: 500;

}
.post_comment .list .day{
    font-size: 12px;
}
.post_comment .comment_post{
    padding: 0 0 15px 58px;
}


.comment_box{
    padding: 10px;
    overflow: hidden;
}
.comment_box .user{
    display: flex;
    width: min-content;
}
.comment_box .image img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment_box textarea{
    background: #eee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 1px #0003;
}
.comment_box textarea:focus-visible{
    box-shadow: 0 0 0 1px #009cff;
    outline:none

}
.comment_box .comment_submit{
    float:right;
    padding: 6px 10px;
    border: none;
    background: #009cff;
    color:#eee;
    cursor: pointer;
    border-radius: 3px;

}
.comment_box .comment_submit:hover{
    background: #0076bf;
}
.video{
    height: 500px;
    display: inline-block;
    resize: inherit;
   
}
.videoboxx
{
    padding-left: 350px;
    padding-top: 80px;
}
.box1{
    background-color:#9a91911a ;
    color: rgb(247, 249, 249);
    border:none;
    width: 350px ;
    height: 450px;
    font-size: 18px;
    margin-left: auto;
    float: right;
    position: absolute;
    right: 40px;
    top: 650px;
    
}
.box3{
    background-color:#9a91911a ;
    color: rgb(247, 249, 249);
    border:none;
    width: 300px ;
    height: 50px;
    font-size: 18px;
    margin-left: auto;
    float: right;
    position: absolute;
    right: 50%;
    top: 50px;
    
}
.box2{
    padding-top: 20px;
    padding-left: 270px;
}

li:nth-child(even){
    background-color: #1d1c1c;
}
li:nth-child(odd){
    background-color: #1b1a1a1a;
}
li {
    list-style-type: none;
}
.container {
    background-color:#9a91911a ;
    color: rgb(247, 249, 249);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px ;
    height: 450px;
}

.dropdown {
    margin-bottom: 10px;
}

.episodes-list div {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.episodes-list div:last-child {
    border-bottom: none;
}

.episodes-list a {
    text-decoration: none;
    color: #ffffff;
}

.episodes-list a:hover {
    text-decoration: underline;
}
#seasons{
    background-color:#8c85851a ;
    color: rgb(247, 249, 249);
    border: 0;
    align-self: center;
    font-size: 20px;
    text-decoration: none;

   
}
.sse{
    background-color:#4b49491a ;
    width: 310px; 
    height: 50px;
}
.bigplay{
    margin-top: 60px;
    margin-left: 47%;
    opacity: 0;
}
.banner_contains:hover{
    .bigplay{
        opacity: 1;
        filter: drop-shadow(2px 2px 2px rgb(0, 0, 0))
    }
}
.banner--fade:hover{
    .bigplay{
        opacity: 1;
        filter: drop-shadow(2px 2px 2px rgb(0, 0, 0))
    }

}