.box1{
    background-color:#9a91911a ;
    color: rgb(247, 249, 249);
    border:none;
    width: 350px ;
    height: 450px;
    font-size: 30px;
    margin-left: auto;
    float: right;
    position: absolute;
    right: 40px;
    top: 650px;
    
}
.box2{
    color: rgb(247, 249, 249);
    font-size: large;
}
li:nth-child(even){
    background-color: #726565;
}
li:nth-child(odd){
    background-color: #1b1a1a1a;
}